<!-- views/flights/index.ejs -->
<%- include('../partials/header') %>
<h1>All Flights</h1>
<ul>
  <% flights.forEach(flight => { %>
    <li><%= flight.airline %> - <%= flight.flightNo %> - <%= flight.departs.toISOString().slice(0,10) %></li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>